<div class="jumbotron">
    <h1 class="display-4">Segunda entrega</h1>
    <p class="lead">Usando typescript mongoose firebase </p>
    <hr class="my-4">
    <p>Empezamos</p>
    <a class="btn btn-primary btn-lg" href="/books" role="button">Books</a>
    <a class="btn btn-primary btn-lg" href="/carritos" role="button">Carritos</a>
    <a class="btn btn-primary btn-lg" href="/productos" role="button">Productos</a>
</div>